@import "variables";
@import "adaptive";

html {
  scroll-behavior: smooth;
}

route > *{
  cursor: pointer;
}

body {
  background-color: antiquewhite;
  background-image: url('../assets/jpg/background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
}